<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Project Page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/bootstrap.css" media="screen">
		<link rel="stylesheet" href="/stylesheets/bootswatch.min.css" media="screen">
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css" media="screen">
        <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css" media="screen">

		<link rel="stylesheet" href="/stylesheets/common.css" media="screen">
		<link rel="stylesheet" href="/stylesheets/project.css" media="screen">

		<link href="/library/blackbird/blackbird.css" type="text/css" media="screen, projection" rel="stylesheet"/>
		<!-- end debug lib include -->
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<![endif]-->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-23019901-1']);
			_gaq.push(['_setDomainName', "bootswatch.com"]);
			_gaq.push(['_setAllowLinker', true]);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</head>
	<body>

		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a href="../" class="navbar-brand">NoBus</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Dropdown<span
							class="caret"></span></a>
							<ul class="dropdown-menu" aria-labelledby="themes">
								<li>
									<a tabindex="-1" href="../default/">Default</a>
								</li>
								<li class="divider"></li>
								<li>
									<a tabindex="-1" href="../amelia/">Amelia</a>
								</li>
								<li>
									<a tabindex="-1" href="../cerulean/">Cerulean</a>
								</li>
								<li>
									<a tabindex="-1" href="../cosmo/">Cosmo</a>
								</li>
								<li>
									<a tabindex="-1" href="../cyborg/">Cyborg</a>
								</li>
								<li>
									<a tabindex="-1" href="../flatly/">Flatly</a>
								</li>
								<li>
									<a tabindex="-1" href="../journal/">Journal</a>
								</li>
								<li>
									<a tabindex="-1" href="../readable/">Readable</a>
								</li>
								<li>
									<a tabindex="-1" href="../simplex/">Simplex</a>
								</li>
								<li>
									<a tabindex="-1" href="../slate/">Slate</a>
								</li>
								<li>
									<a tabindex="-1" href="../spacelab/">Spacelab</a>
								</li>
								<li>
									<a tabindex="-1" href="../united/">United</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="http://news.bootswatch.com">Link</a>
						</li>
					</ul>

					<form class="navbar-form navbar-right">
						<div class="form-group">
							<h4 id='textUserId' class='textUserId'>Sample </h4>
						</div>
						<div class="form-group">
							<h4 class='textUserId'>Welcome! </h4>
						</div>
						<button id='btnLogout' type="button" class="btn btn-success">
							Log out
						</button>
					</form>

				</div>

			</div>

		</div>

		<!-- Second Navbar -->
		<div class="navbar" style=" margin-top: 10px; margin-bottom: 0px;" >
			<div class="container">
				<div id="divProjectName" class="navbar-header pull-right" style="margin-right: 15px; font-size: 25px; margin-top: 0px;" ></div>

				<div class="navbar-collapse collapse" id="navbar-sub">
					<div class="form-group">
						<!-- <ul class="nav navbar-nav"> -->
						<ul class="nav nav-tabs">
							<li class='tab-menu active'>
								<a href="#gantt" data-toggle="tab"><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;  Gantt</a>
							</li>
							<li class='tab-menu'>
								<a href="#contribution" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;  Contribution</a>
							</li>
							<li class='tab-menu'>
								<a href="#comment" data-toggle="tab"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;  Comment</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>

		<!-- body -->
		<div id="wrap">
			<div class="container">

				<!-- Begin Body -->

				<div class="row">
					<div class="col-md-2">
						<!-- <div class="list-group" id="sidebar">
						<a href="#" class="list-group-item"> Link 1 </a>
						<a href="#" class="list-group-item"> Link 1 </a>
						<a href="#" class="list-group-item">Responsive </a>
						<a href="#" class="list-group-item">CSS 3 </a>
						</div> -->

						<ul id="sidebar" class="nav nav-stacked affix" style="margin-top: 80px;">
							<li>
								<a href="javascript:getMemberList();"><i class="fa fa-sitemap fa-lg" style="margin-right: 5px;"></i> Members</a>
							</li>
							<li>
								<a href="javascript:openInviteDialog();"><i class="fa fa-user fa-lg" style="margin-right: 5px;"></i> Invite</a>
							</li>
							<li>
								<a href="javascript:openPushDialog();"><i class="fa fa-arrow-circle-down fa-lg" style="margin-right: 5px;"></i> Push</a>
							</li>
							<li>
								<a href="javascript:openDropDialog();"><i class="fa fa-trash-o fa-lg" style="margin-right: 5px;"></i> Drop</a>
							</li>
						</ul>

					</div>
					<div class="col-md-10">

						<div class="tab-content">
							<div class="tab-pane active" id="gantt"></div>

							<div class="tab-pane" id="contribution">
								<h2>Contribution</h2>
								<hr class="col-md-12">
								Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
								dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
								eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
								sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
								Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
								<hr class="col-md-12">
							</div>

							<div class="tab-pane" id="comment">
								<h2>My Tasks</h2>
								<hr class="col-md-12">
								Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
								dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
								eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
								sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
								Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
								<h2>Others</h2>
								<hr class="col-md-12">
								Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
								dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
								eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
								sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
								Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
							</div>

						</div>

					</div>
				</div>
				<!-- end row-->
			</div>
			<!-- end container -->
		</div>
		<!--end wrap -->

		<div id="footer">
			<div class="container">
				Sample Footer
			</div>
		</div>

		<!-- tmpl script area -->
		<!-- template for Task -->
		<script id="tmplTaskList" type="x-jquery-tmpl">
			<div class="row">

			<div class="form-group">
			<button class="btn btn-fold pull-right" data-toggle="collapse" data-target=".ongoing">
			<i class="fa fa-reorder" ></i>
			</button>
			<h2>Ongoing Tasks</h2>
			</div>
			<hr class="col-md-12">
			<div id="divTaskListContent" class="ongoing box-content">
			<h4></h4>
			{{each(index, taskBox) taskBoxes}}
			{{if finished == 0}}
			{{tmpl(taskBox) "#tmplTaskBox"}}
			{{/if}}
			{{/each}}
			</div>

			<div class="form-group">
			<button class="btn btn-fold pull-right" data-toggle="collapse" data-target=".finished">
			<i class="fa fa-reorder" ></i>
			</button>
			<h2>Finished Tasks</h2>
			</div>
			<hr class="col-md-12">
			<div id="divTaskListContent" class="finished box-content">
			<h4></h4>
			{{each(index, taskBox) taskBoxes}}
			{{if finished == 1}}
			{{tmpl(taskBox) "#tmplTaskBoxFinished"}}
			{{/if}}
			{{/each}}
			</div>
			</div>
		</script>

		<script id="tmplTaskBox" type="x-jquery-tmpl">
			<h4 id="taskbox_name">${name}</h4>
			<div class="alert alert-dismissable alert-info">
			{{tmpl(taskElems) "#tmplTaskElem"}}
            <a href="javascript:taskPassDialog();" id="${task_id}" class="btn btn-primary btn-lg margin-left-20">
			<i class="fa fa-plus"></i>
            </a>
			</div>
		</script>

        <script id="tmplTaskBoxFinished" type="x-jquery-tmpl">
			<h4 id="taskbox_name">${name}</h4>
			<div class="alert alert-dismissable alert-info">
			{{tmpl(taskElems) "#tmplTaskElem"}}
			</div>
		</script>

		<script id="tmplTaskElem" type="text/html">

			{{if task_kind == 'push'}}
			<a href="javascript:openTaskDialog();" kind="push" id="${id}" class="btn task-elem btn-success">
			<i class="fa fa-envelope fa-lg"></i>
			{{else task_kind == 'toss'}}
			<i class="fa fa-arrow-circle-right fa-lg"></i>
            <a href="javascript:openTaskDialog();" kind="toss" id="${id}" class="btn task-elem btn-warning">
			<i class="fa fa-sign-in fa-lg"></i>
			{{else task_kind == 'submit'}}
			<i class="fa fa-arrow-circle-right fa-lg"></i>
            <a href="javascript:openTaskDialog();" kind="submit" id="${id}" class="btn task-elem btn-danger">
			<i class="fa fa-flag fa-lg"></i>
			{{/if}}

			<div class="controls">
			<select style="width: 110px;" class="taskelem-select form-control">
			{{if users}}
			{{tmpl(users) "#tmplTaskElemOption"}}
			{{/if}}
			</select>
			</div>
			<div id="taskelem_duedate" style="margin-top: 5px;">${due_date}</div>
			</a>
		</script>

        <script id="tmplTaskElemOption" type="x-jquery-tmpl">
			<option value="${user_id}">${user_id}</option>
		</script>

		<script id="tmplTaskElemOption_temp" type="x-jquery-tmpl">
			<option {{if current_user}}selected{{/if}} value="${co_worker}">${co_worker}</option>

		</script>
		<!-- Template for Task end -->

		<script id="tmplContribution" type="x-jquery-tmpl">
			<h1>Contiribution Tab</h1>
		</script>

		<script id="tmplComment" type="x-jquery-tmpl">
			<div class='row'>
			<h1>comment1</h1>
			</div>
			<div class='row'>
			<h1>comment1</h1>
			</div>
			<div class='row'>
			<h1>comment1</h1>
			</div>
			<div class='row'>
			<h1>comment1</h1>
			</div>

		</script>

		<!-- script area -->
		<script src="/javascripts/jquery/jquery-1.10.2.min.js"></script>
		<script src="/javascripts/bootstrap/bootstrap.js"></script>
		<script src="/javascripts/bootstrap/typeahead.js"></script>
		<script src="/javascripts/bootstrap/bootswatch.js"></script>
		<script src="/library/blackbird/blackbird.js" type="text/javascript"></script>
        <script src="/javascripts/jquery/jquery.tmpl.min.js" type="text/javascript"></script>
        <script src="/javascripts/jquery/jquery-chosen.js" type="text/javascript" ></script>
        <script src="/javascripts/jquery/jquery-tablesorter.js" type="text/javascript" ></script>
        <script src="/javascripts/bootstrap/bootstrap-datetimepicker.js"></script>

		<script src="/javascripts/project.js" type="text/javascript"></script>

	</body>
</html>