.typeahead {
	z-index: 1100;
}
font.title {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}
textarea.contents{
	width: 98%;
	height: 130px;
	background-color:#FFFFFF;
}
div.modal-contents{
	display:block;
	clear:both;
	content: ".";
	overflow:hidden;
}
