<script id="tmplDialogTeamContent" type="hext/html">
	<tbody>
	{{if status == "online" }}
	<tr class="success">
	{{else status == "offline"}}
	<tr class="error">
	{{/if}}
	<td>${user_id}</td>
	<td>${task_number}</td>
	<td>
		{{if status == "online"}}
		<i class="icon-circle icon-large" style="color: green"></i> ${status}
		{{else status == "offline"}}
		<i class="icon-circle icon-large" style="color: red"></i> ${status}
		{{/if}}
	</td>
	</tr>
	</tbody>
</script>

<div class="span12">
	<div id="dialogTeam" class="box modal hide fade" role="dialog"> <div class="modal-header">
			<h4><i class="icon-user icon-large"></i> Team Members</h4>
		</div>
		<div class="box-content box-table">
			<table class="table table-hover tablesorter">
				<thead>
					<tr>
						<th>Name</th>
						<th>Task</th>
						<th>Status</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-success">Message</a>
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>
</div>