<!-- Drop out  Dialog -->
<div class="modal" id="dlgDrop">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4><i class='modal-title fa fa-exclamation-triangle fa-lg'></i> Dropping out from this project</h4>
			</div>
			<div class="modal-body">
					<h4>Insert 'Drop' for dropping out from this project</h4>
					<input type="text" id="inputDropout" data-provide="typehead" autocomplete="off" />
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss='modal'>Close</a>
				<a id="btnDropout" href="#" class="btn btn-danger disabled"><i class='fa fa-trash-o'></i> Drop Out</a>
			</div>
		</div>
	</div>
</div>