<div class="modal" id="dlgTask">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Task Information</h4>
            </div>

            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <a id="btnTask" href="#" class="btn btn-success">Save</a>
            </div>

        </div>
    </div>
</div>
